@import url(typography.css);
@import url(../resources/css/normalize.css);
@import url(utils.css);

textarea {
  font-variant: normal;
}

.flexBoxContainer {
  display: flex;
  justify-content: space-around;
}

.alert {
  position: relative;
  min-height: 1rem;
  width: 30%;
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  line-height: 1.375rem;
}

.primary-alert {
  background-color: var(--alert-primary-bg);
  color: var(--alert-primary);
  -webkit-box-shadow: 0 0 0 1px var(--alert-primary) inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px var(--alert-primary) inset, 0 0 0 0 transparent;
}

.error-alert {
  -webkit-box-shadow: 0 0 0 1px var(--alert-error-shd) inset,
    0 0 0 0 transparent;
  box-shadow: 0 0 0 1px var(--alert-error-shd) inset, 0 0 0 0 transparent;
  background-color: var(--alert-error-bg);
  color: var(--alert-error);
}

.info-alert {
  background-color: var(--alert-info-bg);
  color: var(--alert-info);
  -webkit-box-shadow: 0 0 0 1px var(--alert-info) inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px var(--alert-info) inset, 0 0 0 0 transparent;
}

.success-alert {
  -webkit-box-shadow: 0 0 0 1px var(--alert-success-shd) inset,
    0 0 0 0 transparent;
  box-shadow: 0 0 0 1px var(--alert-success-shd) inset, 0 0 0 0 transparent;
  background-color: var(--alert-success-bg);
  color: var(--alert-success);
}
