@import url(typography.css);
@import url(../resources/css/normalize.css);
@import url(utils.css);

textarea {
  font-variant: normal;
}

.custom {
  background-color: var(--secondary-color);
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  padding: 0.313rem;
}

.icon-container {
  margin: 0 18.75rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 1.25rem;
}

.primary {
  background-color: var(--alert-primary-bg);
  color: var(--alert-primary);
  -webkit-box-shadow: 0 0 0 1px var(--alert-primary) inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px var(--alert-primary) inset, 0 0 0 0 transparent;
}

.error {
  -webkit-box-shadow: 0 0 0 1px var(--alert-error-shd) inset,
    0 0 0 0 transparent;
  box-shadow: 0 0 0 1px var(--alert-error-shd) inset, 0 0 0 0 transparent;
  background-color: var(--alert-error-bg);
  color: var(--alert-error);
}

.info {
  background-color: var(--alert-info-bg);
  color: var(--alert-info);
  -webkit-box-shadow: 0 0 0 1px var(--alert-info) inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px var(--alert-info) inset, 0 0 0 0 transparent;
}

.success {
  -webkit-box-shadow: 0 0 0 1px var(--alert-success-shd) inset,
    0 0 0 0 transparent;
  box-shadow: 0 0 0 1px var(--alert-success-shd) inset, 0 0 0 0 transparent;
  background-color: var(--alert-success-bg);
  color: var(--alert-success);
}
