@import url(typography.css);
@import url(../resources/css/normalize.css);
@import url(utils.css);

textarea {
  font-variant: normal;
}

body {
  color: var(--secondary-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-left {
  margin-left: 1.75rem;
}

.font-color {
  color: var(--cta-color);
}

.banner-styled {
  font-size: 5rem;
  font-variant: small-caps;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.75rem;
}

.font-variant {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
