<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Fluid Script Kit" />
    <meta name="keywords" content="UI/UX, Design Pattern, Design Kit" />
    <meta name="author" content="Kishan HS" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../resources/js/jquery-3.6.0.min.js"></script>
    <script src="../js/sidebar.js"></script>
    <script src="../resources/js/clipboard.min.js"></script>
    <link rel="stylesheet" href="../css/install.css" />
    <link rel="stylesheet" href="../css/sidebar.css" />
    <link rel="stylesheet" href="../css/utils.css" />
    <title>Get Started</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../resources/css/font-awesome.min.css" />
  </head>
  <body>
    <div class="sidebar" id="navList">
      <h3 class="flexBox">Components</h3>
      <a href="../index.html"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="../components/avatar.html"
        ><i class="fa fa-fw fa-user"></i> Avatar</a
      >
      <a href="../components/alert.html"
        ><i class="fa fa-fw fa-warning"></i> Alert</a
      >
      <a href="../components/badge.html"
        ><i class="fa fa-fw fa-id-badge"></i> Badge</a
      >
      <a href="../components/button.html"
        ><i class="fa fa-fw fa-envelope"></i> Button</a
      >
      <a href="../components/card.html"
        ><i class="fa fa-fw fa-address-card"></i> Card
      </a>
      <a href="../components/image.html"
        ><i class="fa fa-fw fa-photo"></i> Image</a
      >
      <a href="../components/input.html"
        ><i class="fa fa-fw fa-file-text"></i> Input</a
      >
    </div>

    <div class="main">
      <h1 class="header-styled">Get started</h1>
      <h3>
        Our components are a collection of interface elements that can be reused
        across the UI system.
      </h3>
      <p>
        Components can be combined to help anyone building products and
        efficiently design consistent experiences.
      </p>
      <hr />
      <h3>Installation</h3>
      <h4>CSS components - Usage with CDN's</h4>
      <p>
        Include the CSS stylesheet in your HTML. We suggest copying the styles
        file into your own project, but you may also use it directly:
      </p>
      <div class="copy-container">
        <textarea class="code-highlight" rows="1" readonly>
            <link href="https://{{cdn}}/prismjs@v1.x/themes/prism.css" rel="stylesheet" />
        </textarea>
        <button class="copy-button copy-code">Copy</button>
      </div>
      <div class="footer-container">
        <a class="prev-button" href="../index.html">&#60; Home</a>
        <a class="next-button" href="./avatar.html">Avatar &#62;</a>
      </div>
    </div>
  </body>
</html>
